#Host *
#	ServerAliveInterval 300	
#	ForwardAgent yes
#	PubkeyAcceptedKeyTypes +ssh-dss
#	HostkeyAlgorithms +ssh-dss
	ControlPath ~/.ssh/controlmasters/%r@%h:%p
	ControlMaster auto
	ControlPersist 10m

Host localhost
	ProxyCommand none


Host gjump06
	User njejimyv
	HostName gjump06
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand none

Host gjump07 
	User njejimyv
	HostName gjump07
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand none

Host ajump01
	User njejimyv
	HostName ajump01
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand none

Host 192.168.*
	User root
	ProxyCommand ssh -W %h:%p gjump06

Host 10.17.*
	User njejimyv
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W %h:%p ajump01

Host 10.15.* 10.18.* 10.16.*
	User njejimyv
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W %h:%p gjump06
